body{
    background-color: darkgrey;
    color: white;
    font-family: ltc-bodoni-175, serif;
    font-style: italic;
    font-weight: 400;
}
h1{
    font-family: 'Roboto Slab', serif;
}
li{
  display: inline-block;
  width: 15%;
  text-align: center;
}
a:link{
    color: white;               /* unvisited link */
}
a:visited{
    color: pink;                /* visited link */
}
img {
    border: 1px solid white;    /* white border line */
    padding: 2px;                 /* pixels between img and border */
    border-radius: 4px;           /* rounded edges */
    width: 25%;
}
.current {
  text-transform: uppercase;
}
