/* PORTFOLIO STYLE SHEET */

body {
  background-color: darkgrey;
  color: white;
  font-family: serif;
  font-style: italic;
  font-weight: 400;
}
h1 {  /* used only for my name */
  font-family: 'Roboto Slab', serif;
  font-style: normal;
}
.nav{
  justify-content: space-between;
}
li.nav{
  display: inline-block;
  width: 15%;
  text-align: center;
  font-size: 110%;
  font-style: normal;
}
a:link {
  color: white; /* unvisited link */
}
a:visited {
  color: pink;  /* visited link */
}
a.current {
  text-transform: uppercase;  /* uppercase letters for current page link */
}
img {
  border: 1px solid white;  /* white border line */
  padding: 3px;             /* pixels between img and border */
  border-radius: 4px;       /* rounded edges */
  width: 100%;
}
div.container-index {
  display: grid;
  grid-template-columns: 80% auto;
}
div.text-index {
  margin-right: 10px;
}
div.container-resume {
  display: grid;
  grid-template-columns: auto 80% auto;
}
.fa-linkedin {  /* LinkedIn icon */
  color: #2A38C9;
  padding: 10px;
}
.big-icon {
  font-size: 400%;
}
img.coming-soon {   /* background image */
  background-image: url("images/coming-soon.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img.small-header-img {
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
}
.contact-div {
  margin-left: 40%;
  margin-right: 40%;
}
.container-profile {
  display: grid;
  grid-template-columns: 80% auto;
}
